{% extends 'base/base.html' %}
{% load custom_filters %}
{% block content %}
<div class="container mx-auto p-5">
    {% url 'web:pokemon' as pokemon %}
   <div class="flex">
    <div class="pr-9"> 
        {% include 'components/buttons/btn_back.html' with goBackLink=pokemon %}
    </div> 

    <div class="flex-1 items-center justify-end flex">
        {% url 'web:modal_update_pokemon' id as modal_update_pokemon %} 
        {% include 'components/buttons/btn_regular.html' with link=modal_update_pokemon isModal=True title='Update Details' icon="fal fa-pencil" class='  bg-primaryColor focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-white ' %}  
    </div>
   </div>
    <div class="grid place-items-center relative mt-14">
        <div class="mt-14  w-full md:w-[560px]">
            <div class="relative flex items-center justify-center flex-1">
                <div class="w-44 h-44 absolute  ">
                    <img src="{% if details.photo %}{{ details.photo.url  }}{% else %}{{ details.default_photo }}{% endif %}" class="object-contain w-full h-full "/>
                </div>
            </div>
            <div class="bg-white p-8 rounded-xl shadow-xl "> 
                <div class="flex flex-col items-center justify-center">
                    <div class="font-bold text-2xl  mt-12  text-center">
                        {{details.name | capfirst}}  
                    </div>
                    <div class="mb-3 text-gray-400">
                        #{{ id }}
                    </div>
                     <div class="flex gap-2">
                        {% for type in details.types.all %}
                            <div class="uppercase text-xs p-2 rounded font-semibold" style="background-color: {{ type.name|color_type }};">
                                {{type.name}}
                            </div>
                        {% endfor %}
                     </div>
                </div> 
                <div class="bg-white p-6  ">
                    <div class="flex flex-col items-center">
                        <div class="text-lg font-semibold mb-4">ABILITIES</div>
                        <div class="flex mb-6">
                            {% for ability in details.abilities.all %} 
                                <div class="bg-blue-100 text-blue-600 py-2 px-4 rounded-full mx-2">
                                    {{ ability.name | capfirst }}
                                </div>
                            {% endfor %}
                            
                        </div>
                        <div class="flex justify-between w-full">
                            <div class="text-center">
                                <div class="text-gray-500">HEIGHT</div>
                                <div class="text-xl font-bold">{{ details.height }}m</div>
                            </div>
                            <div class="text-center">
                                <div class="text-gray-500">WEIGHT</div>
                                <div class="text-xl font-bold">{{ details.weight }}Kg</div>
                            </div> 
                    </div>
                </div>
                         
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
 
{% endblock %}